.bg-item-cases-page-container {
    background: url(../img/Cover.png) no-repeat, linear-gradient(185.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    background-size: contain;
    
    

}



.modal-content {
    background-color: #f5f5fa !important;
}

.pt-13 {
    padding-top: 13px;
}
.list-style {
    color:  #F0145A;
    
}